<!DOCTYPE html>
<html ng-app="lxApp">
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <script src="js/angular.js"></script>
</head>
<body ng-controller="lxCtrl">
<!--分析页面构成-->

<!--使用ng的mvc来实现基础页面-->

<!--具体实现业务逻辑-->

<button ng-click="addToCart()"> add </button>

<table>
  <thead>
  <tr>
    <th>单价</th>
    <th>数量</th>
    <th>小计</th>
    <th>删除</th>
  </tr>
  </thead>
  <tbody>
    <tr ng-repeat="product in cart">
      <td>{{product.price}}</td>
      <td>{{product.count}}</td>
      <td>{{product.price * product.count}}</td>
      <td>
        <button ng-click="deleteFromCart($index)">delete</button>
      </td>
    </tr>
  </tbody>
</table>


<script>
  //创建模块
  var app = angular.module('lxApp',['ng']);

  //创建控制器
  app.controller('lxCtrl', function ($scope) {
      $scope.cart = [
        {price:1,count:5},
        {price:2,count:8},
        {price:3,count:7}
      ];

      //添加到购物车
      $scope.addToCart = function(){
        $scope.cart.push({price:10,count:10});
      }

      //从购物车中删除指定的一个数据
      $scope.deleteFromCart = function(index){
        $scope.cart.splice(index,1);
      }

  })
</script>

</body>
</html>








