<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
  <meta charset="UTF-8">
  <!-- meta:vp -->
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <link rel="stylesheet" href="css/ionic.css"/>
  <script src="js/ionic.bundle.js"></script>
  <title></title>
</head>
<body ng-controller="customWindowCtrl">

<ion-header-bar class="bar-calm">
  <h1 class="title">header</h1>
</ion-header-bar>

<ion-content>
  <button
    ng-click="open()"
    class="button button-positive">
    clickMe
  </button>
</ion-content>

<ion-footer-bar class="bar-calm">
  <h1 class="title">footer</h1>
</ion-footer-bar>

<script id="test.html" type="text/ng-template">
  <ion-modal-view>
    <ion-content>
      <ion-list>
        <ion-item
          ng-repeat="tmp in list">
          {{tmp}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-modal-view>
</script>


<script>
  var app = angular.module('myApp', ['ionic']);

  app.controller('customWindowCtrl',
    ['$scope','$ionicModal',
      function ($scope,$ionicModal) {

        $scope.list= [100,200,300];

        //配置弹窗
        $ionicModal
          .fromTemplateUrl('test.html',{
            scope:$scope
          })
          .then(function (modal) {
            $scope.modal = modal;
          })


        //打开一个自定义的弹窗
        $scope.open = function () {
          $scope.modal.show();
        }
        
      }
    ])

</script>

</body>
</html>