.container {
    width: 1000px;
    margin: 0 auto;
}
.nav {
    background: #eee;
    height: 40px;
    line-height: 40px;
}
.nav ul li {
    float: left;
    list-style: none;
}
.nav ul li a {
    display: block;
    color: #333;
    font-size: 16px;
    padding: 0 30px;
    text-decoration: none;
}
.nav ul li a:hover {
    color: #f30;
    background: #ddd;
}